---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
const { title = "Website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class="bg-white text-gray-900 antialiased">
    <Navbar />
    <slot />
  </body>
</html>
